body {
    font-family: 'Josefin Sans', sans-serif;
}

h1,
h2 {
    text-align: center;
}

h1 {
    margin: 2rem auto;
    color: purple;//rgb(238, 217, 30);
    font-size: 70px;
    font-weight: bold;
}

h2 {
    margin: 0;
    padding: .8rem 0;
    color: white;
    background-color: red;//rgba(48, 44, 44, 0.808);
}

